Django
psycopg2-binary
python-dotenv
python-docx
PyPDF2
pdfplumber
python-magic==0.4.27
gunicorn
dj-database-url
whitenoise
pandas
docx-mailmerge
weasyprint
reportlab
openpyxl
django-tailwind
django-browser-reload
html2docx
mammoth